<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ReportFolder" value="Reports" />
  
  <!--this is embet of my Setting-->
  <add key="PageSize" value="9"/>
  <add key="MaxPage" value="5"/>
<!--this is value of Method Send Email For User-->
  <add key ="SMTPHost" value="smtp.gmail.com"/>
  <add key ="SMTPPort" value="587"/>
  <add key ="FromEmailAddress" value="tuanvinhtl@gmail.com  "/>
  <add key ="FromEmailPassword" value="tinhanhvanthe"/>
  <add key ="FromName" value="TuanVinh-Devolopper"/>
  <add key ="EmailAdmin" value="tuanvinhtl@gmail.com"/>
</appSettings>