<connectionStrings>
  <clear />
  <add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data source=DESKTOP-MQCJA10\SQLEXPRESS;Initial Catalog=TeduShopConnection;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
</connectionStrings>